parameters:
    level: 5
    paths:
        - packages/core/src
        - packages/core/tests
        - packages/testing/src
        - packages/pdo/src
        - packages/psr15/src
        - packages/cli/src
        - packages/laravel/src
        - packages/laravel/tests
        - packages/symfony/src
        - packages/symfony/tests
        - packages/yii/src
        - packages/yii/config
        - packages/yii/tests
