<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         failOnWarning="true"
         failOnRisky="true">
    <testsuites>
        <testsuite name="core">
            <directory>packages/core/tests</directory>
            <exclude>packages/core/tests/Functional</exclude>
            <exclude>packages/core/tests/Contract</exclude>
        </testsuite>
        <!-- The functional suite and the contract freeze; POLARIS_HARNESS runs them through a framework's kernel. -->
        <testsuite name="functional">
            <directory>packages/core/tests/Functional</directory>
            <directory>packages/core/tests/Contract</directory>
        </testsuite>
        <testsuite name="laravel">
            <directory>packages/laravel/tests</directory>
        </testsuite>
        <testsuite name="symfony">
            <directory>packages/symfony/tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>packages/core/src</directory>
            <directory>packages/testing/src</directory>
            <directory>packages/pdo/src</directory>
            <directory>packages/psr15/src</directory>
            <directory>packages/cli/src</directory>
            <directory>packages/laravel/src</directory>
            <directory>packages/symfony/src</directory>
        </include>
    </source>
</phpunit>
